## Libraries

In [1]:
## py310
from pyspark.sql import SparkSession

In [25]:
import pandas as pd
import numpy as np

In [2]:
# Create a Spark session
spark = SparkSession.builder \
    .appName("MyPySparkApp2") \
    .getOrCreate()

# Access SparkContext from SparkSession
sc = spark.sparkContext

## Environemnt check

In [8]:
# Print the version of SparkContext
print("The version of Spark Context in the PySpark shell is")
sc.version

The version of Spark Context in the PySpark shell is

'3.5.0'

In [7]:
# Print the Python version of SparkContext
print("The Python version of Spark Context in the PySpark shell is")
sc.pythonVer

The Python version of Spark Context in the PySpark shell is

'3.10'

In [6]:
# Print the master of SparkContext
print("The master of Spark Context in the PySpark shell is")
sc.master

The master of Spark Context in the PySpark shell is

'local[*]'

## Start

In [11]:
# List all tables in the current database/catalog using SparkSession
tables = spark.catalog.listTables()
for table in tables:
    print(table.name, table.tableType)

In [15]:
# Create a DataFrame with more values and columns
data = [
    ("Alice", 34, "F", "Engineering", "London"),
    ("Bob", 45, "M", "Marketing", "New York"),
    ("Cathy", 29, "F", "HR", "Sydney"),
    ("David", 23, "M", "IT", "Tokyo"),
    ("Ella", 54, "F", "Finance", "Toronto")
]
columns = ["name", "age", "gender", "department", "location"]
df = spark.createDataFrame(data, columns)

In [16]:
# Create or replace a temporary view
df.createOrReplaceTempView("employees")

In [19]:
# # Drop the temporary view named "people"
# spark.catalog.dropTempView("people")

True

In [23]:
spark.catalog.listTables()

[Table(name='employees', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [20]:
# List all tables in the current database/catalog using SparkSession
tables = spark.catalog.listTables()
for table in tables:
    print(table.name, table.tableType)

employees TEMPORARY

In [21]:
# Show the content of the employees table
spark.table("employees").show()

+-----+---+------+-----------+--------+
| name|age|gender| department|location|
+-----+---+------+-----------+--------+
|Alice| 34|     F|Engineering|  London|
|  Bob| 45|     M|  Marketing|New York|
|Cathy| 29|     F|         HR|  Sydney|
|David| 23|     M|         IT|   Tokyo|
| Ella| 54|     F|    Finance| Toronto|
+-----+---+------+-----------+--------+

In [18]:
# Query the temporary view using SQL
result = spark.sql("SELECT * FROM people WHERE age > 30")
result.show()

+-----+---+
| name|age|
+-----+---+
|Alice| 34|
|  Bob| 45|
| Ella| 54|
+-----+---+

In [26]:
pd_temp = pd.DataFrame(np.random.random(10))

spark_temp = spark.createDataFrame(pd_temp)

spark_temp.createOrReplaceTempView("temp")

spark.catalog.listTables()

[Table(name='employees', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='temp', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [27]:
# Create a Python list of numbers from 1 to 100 
numb = range(1, 100)

# Load the list into PySpark  
spark_data = sc.parallelize(numb)

In [29]:
# Load a local file into PySpark shell
lines = sc.textFile("README.md")

In [32]:
# Show the first few lines of the text file
for line in lines.take(10):
    print(line)

# Diamond Price Prediction

## Overview
This project focuses on building and evaluating machine learning models to predict diamond prices based on various features such as carat, cut, color, clarity, and dimensions (x, y, z). The dataset used is cleaned and preprocessed to ensure reliable results, and multiple regression models are implemented and compared to find the best-performing model.

---

## Features and Dataset
The dataset includes the following features:
- **Carat**: Weight of the diamond.

In [34]:
# Describe the table
spark.sql("DESCRIBE TABLE employees").show()

+----------+---------+-------+
|  col_name|data_type|comment|
+----------+---------+-------+
|      name|   string|   NULL|
|       age|   bigint|   NULL|
|    gender|   string|   NULL|
|department|   string|   NULL|
|  location|   string|   NULL|
+----------+---------+-------+

In [35]:
# Print the column names of the employees table
columns = spark.table("employees").columns
print("Columns in the employees table:", columns)

Columns in the employees table: ['name', 'age', 'gender', 'department', 'location']

In [36]:
# Print the schema of the employees table
spark.table("employees").printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- department: string (nullable = true)
 |-- location: string (nullable = true)

In [37]:
type(df)

pyspark.sql.dataframe.DataFrame

In [38]:
df.show()

+-----+---+------+-----------+--------+
| name|age|gender| department|location|
+-----+---+------+-----------+--------+
|Alice| 34|     F|Engineering|  London|
|  Bob| 45|     M|  Marketing|New York|
|Cathy| 29|     F|         HR|  Sydney|
|David| 23|     M|         IT|   Tokyo|
| Ella| 54|     F|    Finance| Toronto|
+-----+---+------+-----------+--------+

In [40]:
df2 = spark.read.csv("Data/diamonds.csv", header=True)

In [42]:
df2.show(2)

+---+-----+-------+-----+-------+-----+-----+-----+----+----+----+
|_c0|carat|    cut|color|clarity|depth|table|price|   x|   y|   z|
+---+-----+-------+-----+-------+-----+-----+-----+----+----+----+
|  1| 0.23|  Ideal|    E|    SI2| 61.5|   55|  326|3.95|3.98|2.43|
|  2| 0.21|Premium|    E|    SI1| 59.8|   61|  326|3.89|3.84|2.31|
+---+-----+-------+-----+-------+-----+-----+-----+----+----+----+
only showing top 2 rows

In [43]:
spark.catalog.listTables()

[Table(name='employees', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='temp', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

## Running sums using window function SQL

A window function is like an aggregate function, except that it gives an output for every row in the dataset instead of a single row per group.

You can do aggregation along with window functions. A running sum using a window function is simpler than what is required using joins. The query duration can also be much faster.

A table called schedule, having columns train_id, station, time, and diff_min is provided for you. 

The diff_min column gives the elapsed time between the current station and the next station on the line.

In [44]:
# Define the data
data = [
    (217, "Gilroy", "6:06a", 9.0),
    (217, "San Martin", "6:15a", 6.0),
    (217, "Morgan Hill", "6:21a", 15.0),
    (217, "Blossom Hill", "6:36a", 6.0),
    (217, "Capitol", "6:42a", 8.0),
    (217, "Tamien", "6:50a", 9.0),
    (217, "San Jose", "6:59a", None),
    (324, "San Francisco", "7:59a", 4.0),
    (324, "22nd Street", "8:03a", 13.0),
    (324, "Millbrae", "8:16a", 8.0),
    (324, "Hillsdale", "8:24a", 7.0),
    (324, "Redwood City", "8:31a", 6.0),
    (324, "Palo Alto", "8:37a", 28.0),
    (324, "San Jose", "9:05a", None)
]

# Define the schema
columns = ["train_id", "station", "time", "diff_min"]

# Create a DataFrame
schedule_df = spark.createDataFrame(data, columns)

# Create or replace a temporary view called schedule
schedule_df.createOrReplaceTempView("schedule")

# Show the table content
schedule_df.show()

+--------+-------------+-----+--------+
|train_id|      station| time|diff_min|
+--------+-------------+-----+--------+
|     217|       Gilroy|6:06a|     9.0|
|     217|   San Martin|6:15a|     6.0|
|     217|  Morgan Hill|6:21a|    15.0|
|     217| Blossom Hill|6:36a|     6.0|
|     217|      Capitol|6:42a|     8.0|
|     217|       Tamien|6:50a|     9.0|
|     217|     San Jose|6:59a|    NULL|
|     324|San Francisco|7:59a|     4.0|
|     324|  22nd Street|8:03a|    13.0|
|     324|     Millbrae|8:16a|     8.0|
|     324|    Hillsdale|8:24a|     7.0|
|     324| Redwood City|8:31a|     6.0|
|     324|    Palo Alto|8:37a|    28.0|
|     324|     San Jose|9:05a|    NULL|
+--------+-------------+-----+--------+

In [45]:
# Add col running_total that sums diff_min col in each group
query = """
SELECT train_id, station, time, diff_min,
SUM(diff_min) OVER (PARTITION BY train_id ORDER BY time) AS running_total
FROM schedule
"""

# Run the query and display the result
spark.sql(query).show()

+--------+-------------+-----+--------+-------------+
|train_id|      station| time|diff_min|running_total|
+--------+-------------+-----+--------+-------------+
|     217|       Gilroy|6:06a|     9.0|          9.0|
|     217|   San Martin|6:15a|     6.0|         15.0|
|     217|  Morgan Hill|6:21a|    15.0|         30.0|
|     217| Blossom Hill|6:36a|     6.0|         36.0|
|     217|      Capitol|6:42a|     8.0|         44.0|
|     217|       Tamien|6:50a|     9.0|         53.0|
|     217|     San Jose|6:59a|    NULL|         53.0|
|     324|San Francisco|7:59a|     4.0|          4.0|
|     324|  22nd Street|8:03a|    13.0|         17.0|
|     324|     Millbrae|8:16a|     8.0|         25.0|
|     324|    Hillsdale|8:24a|     7.0|         32.0|
|     324| Redwood City|8:31a|     6.0|         38.0|
|     324|    Palo Alto|8:37a|    28.0|         66.0|
|     324|     San Jose|9:05a|    NULL|         66.0|
+--------+-------------+-----+--------+-------------+

Provide the row number of the erroneous row as an integer.

Provide the clause (as a string) that when added to the OVER clause fixes the problem.

In [46]:
query = """
SELECT 
ROW_NUMBER() OVER (ORDER BY time) AS row,
train_id, 
station, 
time, 
LEAD(time,1) OVER (ORDER BY time) AS time_next 
FROM schedule
"""
spark.sql(query).show()

# Give the number of the bad row as an integer
bad_row = 7

# Provide the missing clause, SQL keywords in upper case
clause = 'PARTITION BY train_id'

+---+--------+-------------+-----+---------+
|row|train_id|      station| time|time_next|
+---+--------+-------------+-----+---------+
|  1|     217|       Gilroy|6:06a|    6:15a|
|  2|     217|   San Martin|6:15a|    6:21a|
|  3|     217|  Morgan Hill|6:21a|    6:36a|
|  4|     217| Blossom Hill|6:36a|    6:42a|
|  5|     217|      Capitol|6:42a|    6:50a|
|  6|     217|       Tamien|6:50a|    6:59a|
|  7|     217|     San Jose|6:59a|    7:59a|
|  8|     324|San Francisco|7:59a|    8:03a|
|  9|     324|  22nd Street|8:03a|    8:16a|
| 10|     324|     Millbrae|8:16a|    8:24a|
| 11|     324|    Hillsdale|8:24a|    8:31a|
| 12|     324| Redwood City|8:31a|    8:37a|
| 13|     324|    Palo Alto|8:37a|    9:05a|
| 14|     324|     San Jose|9:05a|     NULL|
+---+--------+-------------+-----+---------+